@import "./styles/variables";
@import "./styles/mixins";
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.pokemonList {
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  gap: 3em;
  @include respond-to($tablet) {
    grid-template-columns: repeat(4, 2fr);
    gap: 2em;
  }
  @include respond-to($landscape) {
    grid-template-columns: repeat(3, 2fr);
    gap: 1.2em;
  }
}

.navbar {
  font-size: 2.5em;
  background-color: $primary-color;
  color: white;
  display: grid;
  grid-template-columns: 4fr 1fr 4fr;
  img {
    margin: 0 1em;
  }
}

.searchPokemon {
  margin: 1em 0em;
  input {
    width: 20em;
    font-size: 1.2em;
  }
  button {
    font-size: 1.2em;
    background-color: $secondary-color;
    color: white;
    margin: 0 1em;
  }
}

.detailPokemon {
  margin-top: 3em;
  background-color: $secondary-color;
  color: white;
  div {
    span {
      margin: 0 0.5em;
      background-color: $secondary-color;
    }
  }
}
